@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body {
    background-color: #FAF9F6;
    width: 100%;
}

li,a{
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
.navbar {

    list-style: none;   
}
.navbar li {
    display: inline-block;
    padding: 0px 10px;
}
.navbar li a {
    transition: all 0.3s ease 0.s;
}
.navbar li a:hover {
    color: #3bd6c6;
}

button {
 padding: 9px 25px;
 font-size: 16px;
 border: unset;
 border-radius: 50px;
 box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
 color: #212121;
 z-index: 1;
 background: #3bd6c6;
 position: relative;
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0px;
 border-radius: 15px;
 background-color: #212121;
 z-index: -1;
 transition: all 250ms;
}

button:hover {
 color: #ffffff;
}

button:hover::before {
 width: 100%;
}

.home {
    height: 80svh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 100%;
}
.home-content {
    white-space: nowrap;
    
}

@keyframes typewriter 
{ from 
  { 
       width: 0; 
  } 
  to 
  {
       width: 100%; 
  } }
.typewriter-text {
    font-size: 40px;
    font-weight: 700;
    border-right: .10em solid #3bd6c6;
    white-space: nowrap;
    margin: 0 auto;
    animation: typewriter 4s steps(24) infinite alternate;
    overflow: hidden;
}

.home-content h2 {
    font-size: 20px;
    font-weight: 700;
    color: #3bd6c6;
}
.home-content p {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 300;
}
.image {
    display: grid;
    margin-left: auto;
    place-items: center;
    object-fit: contain;
}
.image img {
    width: 350px;
    height: 350x;
    border-radius: 100%;
}  

.wrapper {
    position: absolute;
    padding-top: 400px;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #e1306c;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #000000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(3) span{
  color: #e1306c;
}
.wrapper .button:nth-child(5) span{
  color: #000000;
}
