h1 {
    background-image: linear-gradient(rgb(179, 229, 252), rgb(255,255,255));
}

h2 {
    background-image: linear-gradient(to right,rgb(255, 204, 204), rgb(255, 214, 153));
}

p {
    background-image: linear-gradient(rgb(240, 195, 255), rgb(255, 204, 128));
}

h3 {
    background-image: radial-gradient(circle, rgb(255, 255, 204), rgb(204, 255, 204));
}

p:last-child {
    background-image: radial-gradient(circle, rgb(204, 255, 204), rgb(28,255,28));
}